<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="MPlayerExe" value=""/>
    <add key="MPlayerCmdLine" value="-nosound -vo direct3d -framedrop -vf scale=800:-2"/>
    <add key="FileFilter" value="Supported files|*.ts;*.mpg|All file|*.*"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
</configuration>
